@import '../../../../_variables';

.cabecera {
    padding: 20px 0;
	background:$darkBlue;

    .titulo-cabecera {
        float: left;
    }

    .logo-cabecera {
        float: right;
    }

}

  .borderless{
      margin-top: 0 !important;
      border-bottom: 2px solid $darkBlue;
      margin-left: auto;
      margin-right: auto;
  }


.menu {
    .logo {
        img {
            width: 1.5em;
        }
    }
    .right {
        i {
            &dropdown.icon {
                margin: inherit !important;
            }
        }
        .primary {
            &.button {
                &:focus {
                    color: inherit;
                }
            }
            .icon-right {
                .icon {
                    margin-left: .78571429rem;
                    margin-right: 0;
                }
            }
        }
        .without-padding {
            padding: 0;
        }
    }
}



