$lightBlue : #d7f0fa;
$lightBlue_alfa : rgba(215, 240, 250, .55);
$lightBlue : #d7f0fa;

$darkBlue_alfa  : rgba(5, 85, 250, .55);
$darkBlue  : rgb(5, 85, 250);
$mediBlue  : #299fda;
$mediBlue2: #41b9e6;
$white: #FFF;
$black: #000;


$red: #db2828;

$grey: #f4f4f4;

$SegoeUI: “Segoe UI”,Arial,Helvetica,sans-serif;;